#mainhead
{
	width:1320px;
	height:30px;
	overflow:auto;
	background:#ffffff;
	font-size:12px;
	font-family:helvetica;
	border-right:2px solid darkgray;
	border-bottom:2px solid darkgray;
	border-top:2px solid lightgray;
	border-left:2px solid lightgray;
	padding:5px;
}

#mainlist
{
	width:1320px;
	height:560px;
	overflow:auto;
	background:#Ffffff;
	font-family: helvetica;
	font-size:14px;
	border-right:2px solid darkgray;
	border-bottom:2px solid darkgray;
	border-top:2px solid lightgray;
	border-left:2px solid lightgray;
	padding:5px;
}

#maintable
{
	padding:0px;
	border:0px 0px 0px 0px;
}

.listitem
{
	font-size:16px;
	cursor:pointer;
}

.listitem:hover
{
	background-color:#00f000;
}

.simple_dlg
{
	position:absolute;
	width:450px;
	height:550px;
	left:0;
	top:0;
	background:#f0f0f0;
	border-right:2px solid darkgray;
	border-bottom:2px solid darkgray;
	border-top:2px solid lightgray;
	border-left:2px solid lightgray;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	visibility:hidden;
}

